@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
body {
    font-family: PT Sans;
    background-color: black;
}

.my_header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0F0F0F;
}
.header_buttons {
    display: flex;
    transition: 0.7s;
}

.logo {
    height: 49px;
}

.logo_inner {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
}

ul {
    display: flex;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
}

li {
    list-style-type: none; /* Убираем маркеры */
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
}
.topmenu{
    padding: 30px 10px;
}

li:hover {
    background-color: grey;
}

.main_info {
    width: 100%;
    height: 810px;
    background: url(Rectangle3.png) no-repeat center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo_container {
    width: 320px;
    height: 320px;
    border: 4px solid #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.logo_container_content {
    font-weight: bold;
    font-size: 64px;
    line-height: 96px;
    text-align: center;
    color: #FFFFFF;
}

.subheader {
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border-top: 2px solid #FFFFFF;
    padding: 7px 0;
}


.text {
    position: relative;
    top: 80px;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 40%;
}
.chetire_blocka{
    width: 100%;
    height: 1330px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;   
    flex-wrap: wrap;     
}
.block_odin{
    height: 730px;
    width: 1038px;

}
.block_dva{
    height: 730px;
    width: 849px;
    background: url(Rectangle8.png) no-repeat right;
}
.block_tri{
    height: 600px;
    width: 900px;
    background  : url(Rectangle9.png) no-repeat left;
}

.block_chetire{
    height: 600px;
    width: 986px;
}
.block1_logo_content{
    position: absolute;
    width: 376px;
    height: 39px;
    left: 15%;
    top: 950px;
    
    font-family: Playfair Display;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid #FFFFFF;
    
    /* white */
    
    color: #FFFFFF;
}
.block2_logo_content{
    position: absolute;
    width: 376px;
    height: 39px;
    left: 68%;
    top: 1300px;
    font-family: Playfair Display;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid #FFFFFF;
    padding: 7px 0; 
    
    /* white */
    
    color: #FFFFFF;
}
.block2_catalog{
    position: relative;
    top: 70%;
    left: 42%;
    width: 150px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: 2px solid #FFFFFF;
    
    /* white */
    
    color: #FFFFFF;    
}
.clock_container{
    position: relative;
    top: 30%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.clock{
    width: 260px;
    height: 440px;
    color: white;
}
.block4_logo_content{
    position: absolute;
    width: 376px;
    height: 39px;
    left: 63%;
    top: 1664px;
    
    font-family: Playfair Display;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid #FFFFFF;
    
    /* white */
    
    color: #FFFFFF;
}
.block4_content{
    position: absolute;
    width: 471px;
    height: 173px;
    left: 60%;
    top: 1783px;
    
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */
    
    text-align: center;
    
    /* white */
    
    color: #FFFFFF;
}
.block4_underline{
    position: absolute;
    width: 350px;
    height: 60px;
    left: 63%;
    top: 2000px;
    
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
    /* white */
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
    border: 2px solid #FFFFFF;
}
.chasiki{
width: 100%;
height: 1300px;
background-color: #000000;
}
.chasonadpis{
    position: absolute;
    width: 440px;
    height: 48px;
    left: 35%;
    top: 2300px;
    border-bottom: 2px solid #FFFFFF;
    font-family: Playfair Display;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    
    /* white */
    
    color: #FFFFFF;
}
.chasoblock{
position: relative;
width: 60%;
height: 60%;
left: 20%;
top: 20%;
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
}
.parthnership{
    width: 100%;
    height: 362px;
    background-color: #0F0F0F;
    
}
.parthnernadpis{
    position: absolute;
width: 289px;
height: 48px;
left: 40%;
top: 3550px;
border-bottom: 2px solid #FFFFFF;

font-family: Playfair Display;
font-size: 36px;
line-height: 42px;
text-align: center;
text-transform: uppercase;

/* white */

color: #FFFFFF;
}
.parthnercont{
    position: relative;
    width: 80%;
    height: 60%;
    top: 30%;
    left: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}



